:root {
  --body-bg-color: rgb(237, 233, 207);
  --search-bar-bg-color: rgb(207, 213, 226);
  --search-btn-border: #6fcb88;
  --results-bg-color: rgba(221, 208, 160, 0.812);
  --location-color: #7187cc;
  --temp-color: #b4a065;
  --description-color: #b4a065;
  --bottom-container-color: #7187cc;

  --tangerine: rgb(234, 178, 79);
  --dark-orange: rgb(231, 93, 41);
  --lighter-orange: rgb(243, 138, 100);
  --lavender-gray: rgb(187, 186, 198);
  --opal: rgb(183, 206, 206);
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: center;
}
p {
  margin: 10px;
}
input[type="text"] {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: rgb(60, 68, 82);
  padding: 0px 10px;
  width: 12rem;
  height: 3rem;
  border: solid 2px rgb(171, 178, 194);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 30px;
  background-color: var(--search-bar-bg-color);
}
input:focus {
  outline: none;
}
button {
  /* margin-top: 20px; */
  border: 1px solid var(--search-btn-border);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
button:hover {
  scale: 1.2;
  transition: 0.3s;
}
.search-btn {
  scale: 1.5;
}
.search-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#results-container-bg {
  margin: 20px;
  padding: 12px 8px 8px;
  width: 20rem;
  height: 21rem;
  background-color: rgba(205, 183, 113);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
}

#results-container {
  font-size: 1.5rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--results-bg-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#middle-container,
#bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

#location {
  color: var(--location-color);
  font-size: 1.8rem;
  font-weight: 600;
}
#current-temp {
  margin: 0 0 0 18px;
  font-size: 4rem;
  color: var(--temp-color);
}
#description {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  flex-wrap: wrap;
  color: var(--description-color);
}
#feels-like {
  margin: 8px 0px 0px;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--location-color);
}
#bottom-container {
  color: var(--bottom-container-color);
  font-size: 1.5rem;
  font-weight: 500;
}

#loader {
  border: 8px solid var(--tangerine);
  border-top: 8px solid var(--results-bg-color);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  animation: spin 0.8s linear infinite;
  position: relative;
  bottom: 200px;
  left: 135px;
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The switch - the box around the slider */
#temp-converter {
  display: none;
}
.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--temp-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--location-color);
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--temp-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--temp-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
