:root {
  --body-bg-color: rgb(237, 233, 207);
  --results-bg-color: rgba(237, 233, 207);
  --tangerine: rgb(234, 178, 79);
  --dark-orange: rgb(231, 93, 41);
  --lighter-orange: rgb(243, 138, 100);
  --lavender-gray: rgb(187, 186, 198);
  --opal: rgb(183, 206, 206);
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: center;
}
p {
  margin: 8px;
}
#results-container-bg {
  margin: 20px;
  padding: 12px 8px 8px;
  width: 18rem;
  height: 18rem;
  background-color: var(--tangerine);
  border-radius: 10px;
}

#results-container {
  font-size: 1.5rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--results-bg-color);
  border-radius: 10px;
}

#location-container,
#feels-like,
#bottom-container {
  color: var(--dark-orange);
  font-weight: 300;
}

#middle-container,
#bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  color: var(--dark-orange);
}

#location {
  font-size: 1.8rem;
  font-weight: 500;
}
#current-temp {
  margin: 0 0 0 18px;
  font-size: 3rem;
}
#description {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  flex-wrap: wrap;
  color: var(--lighter-orange);
}
#feels-like {
  color: var(--lighter-orange);
}

#loader {
  border: 8px solid var(--tangerine);
  border-top: 8px solid var(--results-bg-color);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  animation: spin 0.8s linear infinite;
  position: relative;
  bottom: 200px;
  left: 135px;
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
